/* Universal CSS reset */
* {
  margin: 0;
  padding: 0;
}

.content_wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.record_flex {
  flex: 2;
  background-color: rgb(115, 219, 184);
}

.rooms_flex {
  flex: 1.3;
  background-color: rgb(110, 93, 206);
}

.header_section {
  background-color: beige;
  height: 5%;
}

.input_section {
  background-color: rgb(240, 156, 156);
  height: 25%;
}

.graph_section {
  background-color: rgb(255, 255, 255);
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#myGraph {
  width: 75%;
  height: 75%;
}

/* Mobile version */
@media only screen and (max-width: 1000px) {
  .content_wrapper {
    flex-direction: column;
    height: 1000px;
  }

  .record_flex {
    flex: 1;
  }

  .rooms_flex {
    flex: 1;
  }
}
